<div class="mr-sm-5 ml-sm-5">

  <form>
    <div class="row justify-content-between mt-3">
      <h3>Bill Review C62</h3>
      <div class="form-group form-inline">
        <input class="form-control ml-2" type="text" [formControl]="filter" placeholder="Search..." />
      </div>
    </div>
  </form>



  <table class="table table-responsive-sm text-center">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Revisar</th>
        <th scope="col">num_criterio</th>
        <th scope="col">custcode</th>
        <th scope="col">customer_id</th>
        <th scope="col">nif</th>
        <th scope="col">criterio</th>
        <th scope="col">factura</th>
        <th scope="col">simoc</th>
        <th scope="col">desc_love</th>
        <th scope="col">status</th>
        <th scope="col">login</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dat of data" [ngStyle]="{'background': dat.status == 'X' ? 'rgba(0, 212, 56, 0.7)' : 'none'}">
        <td>
          <ngb-highlight [result]="dat.id" [term]="filter.value"></ngb-highlight>
        </td>
        <td>{{dat.revisar}}</td>
        <td>{{dat.num_criterio}}</td>
        <td>{{dat.custcode}}</td>
        <td>{{dat.customer_id}}</td>
        <td>
          <ngb-highlight [result]="dat.nif" [term]="filter.value"></ngb-highlight>
        </td>
        <td>{{dat.criterio}}</td>
        <td>
          <ngb-highlight [result]="dat.factura " [term]="filter.value"></ngb-highlight>
        </td>
        <td>{{dat.simoc}}</td>
        <td>{{dat.desc_love}}</td>
        <td>{{dat.status}}</td>
        <td>{{dat.login}}</td>
        <td class="text-primary"><i class="far fa-check-square"></i></td>
        <td class="text-primary"><i class="fas fa-eye"></i></td>
        <td class="text-primary"><a class="text-primary" download="xml" href="assets/resources/MU.xml">XML</a></td>
        <td class="text-primary"><a download="factura"
            href="assets/resources/AMEE20008520225-0120_EmpresaFU.pdf">PDF</a></td>
        <td class="text-primary"><i class="fas fa-pen"></i></td>
      </tr>
    </tbody>
  </table>



</div>